<div class="replay-battle">
	<h1>Olá, {{id}}</h1>
	<p>
		<span class="player-details">Turno: {{turnoAtual}}</span>
		<span class="player-details">Jogador: {{player}}</span>
	</p>

	<div class="replay-battle-container">
		<app-board></app-board>
		<app-board></app-board>	
	</div>

	<div class="menu-container">
		<button class="menu-btn" (click)="anterior()">Anterior</button>
		<button class="menu-btn" (click)="proximo()">Proximo</button>
		<button class="menu-btn" [routerLink]="['/replay']">Voltar</button>
	</div>
</div>
