<div class="replay-battle">
	<h1>Olá, {{id}}</h1>
	<h2>Turno: {{turnoAtual}}</h2>
	<h2>Jogador: {{dadosTurno.player}}</h2>
	<div class="replay-battle-container">
		<table class="replay-battle replay-p1">
		  <tr class="replay-battle-row">
		    <td class="replay-battle-column index"></td>
		    <td class="replay-battle-column index">1</td>
		    <td class="replay-battle-column index">2</td>
		    <td class="replay-battle-column index">3</td>
		    <td class="replay-battle-column index">4</td>
		    <td class="replay-battle-column index">5</td>
		    <td class="replay-battle-column index">6</td>
		    <td class="replay-battle-column index">7</td>
		    <td class="replay-battle-column index">8</td>
		    <td class="replay-battle-column index">9</td>
		    <td class="replay-battle-column index">10</td>
		  </tr>
		  <tr>
		    <td class="replay-battle-column index">A</td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		  </tr>
		  <tr>
		    <td class="replay-battle-column index">B</td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		  </tr>
		  <tr>
		    <td class="replay-battle-column index">C</td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		  </tr>
		  <tr>
		    <td class="replay-battle-column index">D</td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		  </tr>
		  <tr>
		    <td class="replay-battle-column index">E</td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		  </tr>
		  <tr>
		    <td class="replay-battle-column index">F</td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		  </tr>
		  <tr>
		    <td class="replay-battle-column index">G</td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		  </tr>
		  <tr>
		    <td class="replay-battle-column index">H</td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		  </tr>
		  <tr>
		    <td class="replay-battle-column index">I</td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		  </tr>
		  <tr>
		    <td class="replay-battle-column index">J</td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		  </tr>
		</table>
		<table class="replay-battle replay-p2">
		  <tr class="replay-battle-row">
		    <td class="replay-battle-column index"></td>
		    <td class="replay-battle-column index">1</td>
		    <td class="replay-battle-column index">2</td>
		    <td class="replay-battle-column index">3</td>
		    <td class="replay-battle-column index">4</td>
		    <td class="replay-battle-column index">5</td>
		    <td class="replay-battle-column index">6</td>
		    <td class="replay-battle-column index">7</td>
		    <td class="replay-battle-column index">8</td>
		    <td class="replay-battle-column index">9</td>
		    <td class="replay-battle-column index">10</td>
		  </tr>
		  <tr>
		    <td class="replay-battle-column index">A</td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		  </tr>
		  <tr>
		    <td class="replay-battle-column index">B</td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		  </tr>
		  <tr>
		    <td class="replay-battle-column index">C</td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		  </tr>
		  <tr>
		    <td class="replay-battle-column index">D</td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		  </tr>
		  <tr>
		    <td class="replay-battle-column index">E</td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		  </tr>
		  <tr>
		    <td class="replay-battle-column index">F</td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		  </tr>
		  <tr>
		    <td class="replay-battle-column index">G</td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		  </tr>
		  <tr>
		    <td class="replay-battle-column index">H</td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		  </tr>
		  <tr>
		    <td class="replay-battle-column index">I</td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		  </tr>
		  <tr>
		    <td class="replay-battle-column index">J</td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		    <td class="replay-battle-column"></td>
		  </tr>
		</table>
	</div>

	<div class="menu-container">
		<button class="menu-btn" (click)="anterior()">Anterior</button>
		<button class="menu-btn" (click)="proximo()">Proximo</button>
		<button class="menu-btn" [routerLink]="['/replay']">Voltar</button>
	</div>
</div>
