<table class="replay-battle replay-{{player}}">
  <tr class="replay-battle-row">
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column index">1</td>
    <td class="replay-battle-column index">2</td>
    <td class="replay-battle-column index">3</td>
    <td class="replay-battle-column index">4</td>
    <td class="replay-battle-column index">5</td>
    <td class="replay-battle-column index">6</td>
    <td class="replay-battle-column index">7</td>
    <td class="replay-battle-column index">8</td>
    <td class="replay-battle-column index">9</td>
    <td class="replay-battle-column index">10</td>
  </tr>
  <tr>
    <td class="replay-battle-column index">A</td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
  </tr>
  <tr>
    <td class="replay-battle-column index">B</td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
  </tr>
  <tr>
    <td class="replay-battle-column index">C</td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
  </tr>
  <tr>
    <td class="replay-battle-column index">D</td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
  </tr>
  <tr>
    <td class="replay-battle-column index">E</td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
  </tr>
  <tr>
    <td class="replay-battle-column index">F</td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
  </tr>
  <tr>
    <td class="replay-battle-column index">G</td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
  </tr>
  <tr>
    <td class="replay-battle-column index">H</td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
  </tr>
  <tr>
    <td class="replay-battle-column index">I</td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
  </tr>
  <tr>
    <td class="replay-battle-column index">J</td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
    <td class="replay-battle-column"></td>
  </tr>
</table>
